
#featured {height: auto}
img.avatar {}

div.gogol{
    margin-bottom: 5px;
    margin-top: 5px !important   
}

li {display: flex !important; align-items: center; justify-content: flex-start}
.featuredInscrit {margin-left: 5px;}


.list-group-item-heading {display: flex; justify-content: space-between;
            font-weight: bold}
span.badge {float: right}
div.divli {width:100%; border:none}
div.resultcol {border: none}
.user {background-color: red}
a.resultCol {text-decoration: underline; font-weight: bold; color: inherit}
div.adminEvent {min-height: 250px;}