{% extends 'base.html.twig' %}
{%block title %} Les 1000 pas {% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2>Next Event {{meeting.0.date|date('d/m')}}</h2> 
            <p>sample text sample text sample text sample text</p>
            <img class="img-responsive img-rounded" src="{{asset('images/sportSample.jpg') }}" alt="random sport"
        </div>    
    </div>
{% endblock %}